<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/form-submit.css">
    <%- include ('../partials/links.ejs') %>
    <title>Home</title>
</head>
<body>
  <%- include ('../partials/navigation.ejs') %>
  <% if(role === "Student") { %>
    <% if (submissions.length > 0) { %>
      <% console.log(submissions.length) %>
      <% console.log(student.groupId + " student group id") %>
      <div class="container">
        <h1>Monitor Submissions</h1>
        <% for (let i = 0; i < submissions.length; i++) { %>
          <% if(submissions[i].batchId == activeBatchId && submissions[i].version == 1) { %>
                <article class="card">
                  <div class="form-control card-header">
                    <h1 class="form__title"><%= submissions[i].title %></h1>
                  </div>
                  <div class="form-control">
                    <h4><%= capstoneTitle %></h4>
                  </div>
                  <div class="form-control">
                    <h4><%= submissions[i].status %></h4>
                  </div>
                  <div class="form-control">
                    <h4><%= submissions[i].updatedAt.toLocaleDateString() %></h4>
                  </div>
                  <div class="card-actions">
                    <form action="/student/activities/monitor/view/<%= submissions[i].id %>" method="GET">
                      <button class="btn" type="submit">View</button>
                    </form>
                  </div>
                </article>
            <% } %>
        <% } %>
      </div>
    <% } %>
  <% } %>
  
</body>
</html>