<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/form-submit.css">
    <%- include ('../partials/links.ejs') %>
    <title>Home</title>
</head>
<body>
  <%- include ('../partials/navigation.ejs') %>
  <% if(role === "Student") { %>
    <% if (forms.length > 0) { %>
      <div class="container">
        <div class="page-title-container">
          <h1>Monitor Your Submissions</h1>
        </div>
        <% for (let i = 0; i < forms.length; i++) { %>
          <% if (forms[i].submissions.length > 0) { %>
            <% for (let j = 0; j < forms[i].submissions.length; j++) { %>
              <% if (forms[i].submissions[j].status !== null && forms[i].submissions[j].groupId === userGroup) { %>
                <article class="card">
                  <div class="form-control card-header">
                    <h1 class="form__title"><%= forms[i].title %></h1>
                  </div>
                  <div class="form-control">
                    <h4>Status: <%= forms[i].submissions[j].status %></h4>
                  </div>
                  <div class="form-control" id="viewer-<%= j %>">
                    <iframe src="<%= forms[i].submissions[j].filePath %>" frameborder="0" width="70%" height="500px"></iframe>
                  </div>
                  <div class="card-actions">
                    <% if(role === "Faculty") { %>
                    <button>Approve</button>
                    <% } %>
                    <a onclick="toggleIframe(<%= i %>)">View</a>
                  </div>
                  <input type="hidden" value="<%= forms[i].id %>" name="formId">
                  <input type="hidden" value="<%= forms[i].status %>" name="formStatus">
                </article>
              <% } %>
            <% } %>
          <% } %>
        <% } %>
      </div>
    <% } %>
  <% } %>
  <script src="./js/main.js"></script>
  
</body>
</html>