<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/form-submit.css">
    <%- include ('../partials/links.ejs') %>
    <title>Home</title>
</head>
<body>
  <%- include ('../partials/navigation.ejs') %>
  <% if(role === "Student") { %>
    <% if (submissions.length > 0) { %>
      <div class="container">
        <% for (let i = 0; i < submissions.length; i++) { %>
          <article class="card">
            <div class="form-control card-header">
              <h1 class="form__title"><%= submissions[i].title %></h1>
            </div>
            <div class="form-control">
              <h4>Status: <%= submissions[i].status %></h4>
            </div>
            <div class="card-actions">
              <form action="/student/activities/revise/view/<%= submissions[i].id %>" method="GET">
                <button type="submit">View</button>
                <input type="hidden" value="<%= submissions[i].id %>" name="submissionId">
              </form>
            </div>
          </article>
                
        <% } %>
      </div>
    <% } %>
  <% } %>
  
</body>
</html>