<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if(role === "Faculty") { %><link rel="stylesheet" href="/css/form-create.css"><% } %>
    <link rel="stylesheet" href="/css/form-submit.css">
    <%- include ('../partials/links.ejs') %>
    <title>Home</title>
</head>
<body>
  <%- include ('../partials/navigation.ejs') %>
  <% if (role === "Student") { %>
    <% if (forms.length > 0) { %>
      <% console.log(forms.length) %>
      <div class="container">
        <div class="header">
          <h1>Submit Documents</h1>
        </div>
        <% for (let i = 0; i < forms.length; i++) { %>
          <% if (forms[i].section === section && !submissions.find(submission => submission.submissionId === forms[i].id && submission.groupId === student.groupId)) { %>
            <article class="card">
              <div class="form-control card-header">
                <h1 class="form__title"><%= forms[i].title %></h1>
              </div>
              <% if (role === "Student") { %>
                <% } %>
                <div class="card-actions">
                  <form action="/student/activities/form/view/<%= forms[i].id %>" method="GET">
                    <button class="btn" type="submit">Open</button>
                  </form>
                </div>
                <input type="hidden" value="<%= forms[i].id %>" name="formId">
                <input type="hidden" value="<%= forms[i].status %>" name="formStatus">
                <input type="hidden" value="<%= forms[i].title %>" name="formTitle">
              </article>
              <% } %>
        <% } %>
      </div>
    <% } %>
  <% } %>
  
</body>
</html>