<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "/css/navigation.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"> 
    <link rel="stylesheet" href="/css/view.css">
    <title>View</title>
</head>
<body>
    <%- include ('partials/navigation.ejs') %>
    
    <div class="container">
        <div class="top">
            <% if(role == 'Student') { %>
                <a href="/student/activities/submit">Go Back</a>
            <% } %>
            <div class="header">
                <h1><%= form.title %></h1>
            </div>
        </div>
        <div class="body">
            <h4>Description</h4>
            <p><%= form.description %></p>
            <% if(role == 'Student') { %>
            <form action="/student/activities/submit" method="POST" enctype="multipart/form-data">
                <div class="form-control">
                    <label for="file">PDF file</label>
                    <input type="file" class="form-control" name="file" id="file" accept=".pdf">
                        <input type="hidden" value="<%= form.title %>" name="formTitle">
                        <input type="hidden" value="<%= form.id %>" name="formId">
                  </div>
                <button class="btn" type="submit">Submit</button>
              </form>
            <% } %>
        </div>
    </div>
</body>
</html>