<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/links.ejs') %>
    <link rel="stylesheet" href="/css/group.css">
    <title>Home</title>
</head>
<body>
    <%- include ('partials/navigation.ejs') %>
</head>
<body>
  
    <div class="container">
        <div class="top-container">
          <% if (role === 'Faculty') { %>
            <div class="card card-faculty">
              <h4>Create Group</h4>
              <form action="/faculty/group" method="POST">
                <div class="form-control">
                  <button>Add Group</button>
                </div>
                <div class="form-control">
                  <label for="name">Group Name:</label>
                  <input type="text" class="form-control" id="name" name="name" required>
                  <select name="section" id="section">
                    <option value="3ISA">3ISA</option>
                    <option value="3ISB">3ISB</option>
                    <option value="4ISA">4ISA</option>
                    <option value="4ISB">4ISB</option>
                    <option value="n/a">N/A</option>
                  </select>
                </div>
              </form>
            </div>
          <% } %>
          <div class="card-container">
              <% if(role === "Faculty") { %>
                <div class="card filter-card">
                    <form>
                    <label for="section">Filter by Section:</label>
                    <select id="sectionFilter" name="sectionFilter">
                        <option value="">All Sections</option>
                        <option value="3ISA">3ISA</option>
                        <option value="3ISB">3ISB</option>
                        <option value="4ISA">4ISA</option>
                        <option value="4ISB">4ISB</option>
                    </select>
                    <button type="button" onclick="filterGroups()">Filter</button>
                    </form>
                </div>
            <% } %>
          </div>
        </div>
      
        <div class="card-grid">
            <% for (let i = 0; i < group.length; i++) { %>
                <% if (role === 'Faculty' || (role === 'Student' && (hasGroup && group[i].id == user.groupId)) || !hasGroup && group[i].section === section) { %>
                  <% if(group[i].batchId == activeBatchId ) { %>
                  <div class="card">
                    <h4><%= group[i].name %></h4>
                    <% if(role == 'Student') { %>
                      <% if(!group[i].capstoneTitle) { %>
                        <form action="/student/group/capstone/title" method="POST">
                          <input type="text" placeholder="Capstone Project Title" id="title" name="title"><br>
                          <input type="hidden" value="<%= group[i].id %>" name="groupId">
                          <button type="submit">OK</button>
                        </form>
                      <% } %>
                    <% } %>
                      <% if (group[i].capstoneTitle) { %>
                        <h4><%= group[i].capstoneTitle %></h4>
                        <button id="edit">Edit</button>
                      <% } else { %>
                        <p>No Capstone Project Title yet</p>
                      <% } %>
                    <h6>Section: <span class="section"><%= group[i].section %></span></h6>
                    <h6>Technical Adviser:</h6>
                    <% if (techAdv[i]) { %>
                      <p><%= techAdv[i] %></p>
                    <% } else { %>
                      <p>No technical adviser assigned.</p>
                    <% } %>
                    <h6>Members:</h6>
                    <% if (members[i] && members[i].length) { %>
                      <ul>
                      <% members[i].forEach(member => { %>
                          <li><%= member %></li>
                      <% }); %>
                      </ul>
                    <% } else { %>
                      <p>No members yet.</p>
                    <% } %>

                    <% if(role == "Faculty" && !group[i].adviserId) { %>
                      <form action="/faculty/activities/roles" method="POST">
                        <button value="technical-adviser" name="role">Become Technical Adviser</button>
                        <input type="hidden" value="<%= group[i].id %>" name="groupId">
                        <input type="hidden" value="<%= group[i].section %>" name="groupSection">
                      </form>
                    <% } %>
                    
                    <% if (!hasGroup && role === "Student") { %>
                      <form action="/student/group" method="POST">
                        <button>Join Group</button>
                        <input type="hidden" value="<%= group[i].id %>" name="groupId">
                        <input type="hidden" value="<%= group[i].section %>" name="groupSection">
                      </form>
                    <% } %>
                  </div>
                  <% } %>
                <% } %>
              <% } %>
        </div>
      </div>
      
    
    <script>
        function filterGroups() {
        const sectionSelect = document.getElementById("sectionFilter");
        const section = sectionSelect.value;
        const cards = document.querySelectorAll(".card-grid .card");
        cards.forEach(card => {
            const cardSection = card.querySelector(".section").textContent;
            if (section === "" || section === cardSection) {
            card.style.display = "block";
            } else {
            card.style.display = "none";
            }
        });
        }

    </script>

</body>
</html>