<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/links.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
    <title>Home</title>
</head>
<body>
    <%- include ('partials/navigation.ejs') %>
    <div class="container">
      <div class="header">
        <h1>Profile</h1>
      </div>
      <div class="row">
        <div class="column">
          <% if(role == 'Faculty') { %>
          <% if(adminUser) { %>
          <% if(isBatchActive == false) { %>
            <div class="card">
              <h4>Create Batch:</h4>
              <form action="/faculty/home" method="POST" id="batch-form-start">
                <label for="start">Start</label>
                <input type="date" name="start" class="input-boxes" required>
                <label for="end">End</label>
                <input type="date" name="end" class="input-boxes" required>
                <button type="submit" name="button" value="start" class="green-button">Start</button>
              </form>
            </div>
          <% } %>
          <% if(isBatchActive == true) { %>
            <div class="card">
              <form action="/faculty/home" method="POST" id="batch-form-stop" onsubmit="return confirmRemove();">
                <h4>Current Batch:</h4>
                <p><%= batchStart %> - <%= batchEnd %></p>
                <button type="submit" name="button" value="stop" class="red-button">Stop</button>
              </form>
            </div>
          <% } %>
          <% } %>
          <% } %>
          <div class="card">
            <h4>First Name:</h4>
            <p><%= firstName %></p>
          </div>
          <div class="card">
            <h4>Last Name:</h4>
            <p><%= lastName %></p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <h4>Role:</h4>
            <p><%= role %></p>
          </div>
          <div class="card">
            <h4>Email:</h4>
            <p><%= email %></p>
            <% if(verification == 'verified') { %>
            <p><a href="/auth/change-email">Update Email</a></p>
          </div>
          
          <div class="card">
            <p><a href="/auth/change-password">Change Password</a></p>
          <% } %>
          </div>
        </div>
      </div>
    </div>

    <script>
      function confirmRemove() {
        if (confirm("Are you sure you want to end the current batch?")) {
          // If the user clicks "OK", return true to submit the form
          return true;
        } else {
          // If the user clicks "Cancel", prevent the form submission
          event.preventDefault();
          return false;
        }
      }
    </script>
</body>
</html>