<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/links.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
    <title>Home</title>
</head>
<body>
    <%- include ('partials/navigation.ejs') %>

    <div class="container">
        <div class="card">
          <h4>First Name:</h4>
          <p><%= firstName %></p>
        </div>
        <div class="card">
          <h4>Last Name:</h4>
          <p><%= lastName %></p>
        </div>
        <div class="card">
          <h4>Email:</h4>
          <p><%= email %></p>
        </div>
        <div class="card">
          <h4>Role:</h4>
          <p><%= role %></p>
        </div>
      </div>
      
</body>
</html>