<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/links.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
    <title>Home</title>
</head>
<body>
    <%- include ('partials/navigation.ejs') %>
    <div class="container">
      <div class="header">
        <h1>Profile</h1>
      </div>
      <div class="row">
        <div class="column">
          <% if(role == "Faculty" && isBatchActive == false) { %>
            <div class="card">
              <h4>Create Batch:</h4>
              <form action="/faculty/home" method="POST">
                <input type="text" name="name">
                <button type="submit" name="button" value="start">Start</button>
              </form>
            </div>
          <% } %>
          <% if(role == "Faculty" && isBatchActive == true) { %>
            <div class="card">
              <form action="/faculty/home" method="POST">
                <h4>Current Batch:</h4>
                <p><%= batchName %></p>
                <button type="submit" name="button" value="stop">Stop</button>
              </form>
            </div>
          <% } %>
          <div class="card">
            <h4>First Name:</h4>
            <p><%= firstName %></p>
          </div>
          <div class="card">
            <h4>Last Name:</h4>
            <p><%= lastName %></p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <h4>Role:</h4>
            <p><%= role %></p>
          </div>
          <div class="card">
            <h4>Email:</h4>
            <p><%= email %></p>
            <p><a href="/auth/change-email">Update Email</a></p>
          </div>
          
          <div class="card">
            <p><a href="/auth/change-password">Change Password</a></p>
          </div>
        </div>
      </div>
    </div>
    
      
</body>
</html>