<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "/css/navigation.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"> 
    <link rel="stylesheet" href="/css/view.css">
    <title>View</title>
</head>
<body>
    <%- include ('partials/navigation.ejs') %>
    
    <div class="container">
      <div class="header">
        <% if(role == "Faculty") { %>
          <h1><%= subGrp.capstoneTitle %></h1>
          <% } %>
          <% if(role == "Student") { %>
            <h1><%= group.capstoneTitle %></h1>
            <% } %>
          </div>
          
        <h4><%= submission.title %></h4>
        <% if(role == 'Faculty') { %>
          <% revisions.forEach((version, index) => { %>
            <a href="/faculty/activities/view/<%= version.id %>">Version <%= version.version %></a>
          <% }) %>
        <% } %>
        <% if(role == 'Student') { %>
          <% revisions.forEach((version, index) => { %>
            <a href="/student/activities/monitor/view/<%= version.id %>">Version <%= version.version %></a>
          <% }) %>
        <% } %>
        
        <div class="container-top">
            <div class="pdf-viewer">
                <iframe id="pdf-iframe" src="<%= submission.filePath %>" frameborder="0" width="100%" height="500px"></iframe>
                <% console.log(submission.filePath) %>
            </div>
            <div class="status-log">
              <h3>Approval Log</h3>
              <div class="log">
                <% if (status.length > 0) { %>
                  <% status.forEach((status, index) => { %>
                    <div class="status-entry">
                      <h4>Approved by: <%= usersApprove[index].user.firstName + ' ' + usersApprove[index].user.lastName %> as <%= usersApprove[index].role %></h4>
                    </div>
                  <% }) %>
                <% } else { %>
                  <p>No status updates yet.</p>
                <% } %>
              </div>
              <div class="buttons">
                <% if (role == 'Faculty') { %>
                  <form action="/faculty/activities/approve-documents" method="POST">
                    <label for="roleChosen">Pick role: </label>
                      <select name="roleChosen" id="roleChosen">
                        <% if(rolesTaken) { %>
                          <% rolesTaken.forEach((role, i) => { %>
                            <% if(facultyBatchId[i] == activeBatchId) { %>
                              <% if (role !== 'course-facilitator' && role !== 'technical-adviser' ) { %>
                                <option value="<%= role %>"><%= role %></option>
                              <% } %>
                              <% if (role == 'course-facilitator' && subGrp.section == section ) { %>
                                <option value="<%= role %>"><%= role %></option>
                              <% } %>
                              <% if (role == 'technical-adviser' && subGrp.adviserId == facultyId[i] ) { %>
                                <option value="<%= role %>"><%= role %></option>
                              <% } %>
                            <% } %>
                          <% }) %>
                        <% } %>
                      </select>
                    <button value="approved" name="statusChosen">Approve</button>
                    <!-- <button value="revise" name="statusChosen">Revise</button> -->
                    <input type="hidden" value="<%= submission.id %>" name="submissionId">
                  </form>
                <% } %>
                <% if (role == 'Student' && submission.status !== 'approved') { %>
                  <form action="/student/activities/revise" method="POST" enctype="multipart/form-data">
                  <div class="form-control">
                    <input type="file" class="form-control" name="file" id="file" accept=".pdf">
                  </div>
                    <button type="submit">Upload Revision</button>
                    <input type="hidden" value="<%= submission.id %>" name="submissionId">
                    <input type="hidden" value="<%= submission.submissionId %>" name="submissionFormId">
                    <input type="hidden" value="<%= submission.groupId %>" name="submissionGroupId">
                    <input type="hidden" value="<%= submission.title %>" name="submissionTitle">
                    <input type="hidden" value="<%= submission.batchId %>" name="submissionBatchId">
                  </form>
                <% } %>
              </div>
            </div>
            
        </div>
        <div class="container-bottom">
            <div class="comment-section">
              <h2>Comments</h2>
              <% if (role == 'Faculty') { %>
                <form action="/faculty/activities/post/comment" method="POST">
                  <textarea name="comment" required placeholder="Write a comment"></textarea>
                  <button type="submit">Submit</button>
                  <input type="hidden" value="<%= submission.id %>" name="submissionId">
                  <input type="hidden" value="<%= submission.version %>" name="submissionVersion">
                  <input type="hidden" value="<%= currentUser.id %>" name="currentUserId">
                </form>
              <% } %>
              <div class="comments">
                <% if (comments.length > 0) { %>
                  <% comments.forEach((comment, index) => { %>
                    <div class="comment">
                      <% const userComment = usersComment[index]; %>
                      <% if (userComment) { %>
                        <p>For version: <%= comment.forVersion %></p>
                        <h3><%= userComment.user.firstName + ' ' + userComment.user.lastName %></h3>
                      <% } %>
                      <p><%= comment.comment %></p>
                      <span class="timestamp">
                        <%= new Date(comment.createdAt).toLocaleDateString() %>
                        <%= new Date(comment.createdAt).toLocaleTimeString() %>
                      </span>
                    </div>
                  <% }) %>
                  <% } else { %>
                    <p>No comments yet.</p>
                  <% } %>
                
              </div>
            </div>              
          </div>
    </div>
    
   
</body>
</html>