<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "/css/navigation.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">  
    <link rel="stylesheet" href="/css/form-submit.css">
    <title>Home</title>
</head>
<body>
  <%- include ('../partials/navigation.ejs') %>

  <div class="container">
    <div class="header">
      <h1>Documents</h1>
    </div>
    <!-- <h2>Filter Submissions</h2>
    <div class="form-group">
      <label for="section">Section:</label>
      <select name="section" id="section">
        <option value="">All</option>
        <option value="3ISA">3ISA</option>
        <option value="3ISB">3ISB</option>
        <option value="4ISA">4ISA</option>
        <option value="4ISB">4ISB</option>
      </select>
    </div>
    <button type="button" onclick="filterForms()">Filter</button>
  </div> -->
  

    <div class="container" id="form-container">

      <% for (let i = 0; i < submissions.length; i++) { %>
          <% if (submissions[i].status !== null && submissions[i].status !== 'approved') { %>
            <% if(submissions[i].batchId == activeBatchId && submissions[i].version == 1) { %>
            <article class="card section">
              <div class="form-control card-header">
                <h1 class="form__title"><%= submissions[i].title %></h1>
              </div>
              <div class="form-control">
                <h4><%= groups[i].capstoneTitle %></h4>
              </div>
              <div class="form-control">
                <h4><%= groups[i].section %></h4>
              </div>
              <div class="form-control">
                <h4>Status: <%= submissions[i].status %></h4>
              </div>
              <div class="card-actions">
                <% if(role === "Faculty") { %>
                <form action='/faculty/activities/view/<%= submissions[i].id %>' method="GET">
                  <button>View</button>
                </form>
                <% } %>
                <!-- <a onclick="toggleIframe(<%= i %>)">View</a> -->
              </div>
            </article>
            <% } %>
        <% } %>
      <% } %>
    </div>


  <script>
    function filterForms() {
      const formContainer = document.getElementById('form-container');
      const sectionFilter = document.getElementById('section');
      const cards = formContainer.querySelectorAll('.card');
      const selectedSection = sectionFilter.value;
  
      cards.forEach(card => {
        if (selectedSection === '' || card.classList.contains(`section-${selectedSection}`)) {
          card.style.display = 'block';
        } else {
          card.style.display = 'none';
        }
      });
    };
  </script>
  
  </body>
