<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('../partials/links.ejs') %>
    <link rel="stylesheet" href="/css/form-submit.css">
    <title>Home</title>
</head>
<body>
  <%- include ('../partials/navigation.ejs') %>
  <% if(groups.length > 0) { %>
    <div class="container">
      <div class="header">
        <h1>Archive</h1>
      </div>
      <% groups.forEach((group, i) => { %>
        <article class="card">
          <div class="form-control card-header">
            <% if(group.capstoneTitle) { %>
            <h1 class="form__title"><%= group.capstoneTitle %></h1>
            <% } else { %>
            <p class="gray-texts">No title yet</p>
            <% } %>
          </div>
          <div class="form-control">
            <p>Group name: </p>
            <h4><%= group.name %></h4>
          </div>
          <div class="form-control">
            <p>Adviser: </p>
            <% if(adviser[i]) { %>
            <h4><%= adviser[i] && adviser[i].firstName + ' ' + adviser[i].lastName %></h4>
            <% } else { %>
            <p class="gray-texts">No adviser yet</p>
            <% } %>
          </div>
          <div class="form-control">
            <p>Section: </p>
            <h4><%= group.section.toUpperCase() %></h4>
          </div>
          <div class="form-control">
            <p>Batch: </p>
            <h4><%= (new Date(batch[i].start)).getFullYear() %> - <%= (new Date(batch[i].end)).getFullYear() %></h4>
          </div>
          <div class="card-actions">
            <form action="/faculty/archive/view/<%= group.id %>" method="GET">
              <button type="submit">View</button>
            </form>
          </div>
        </article>
        <% }) %>
      </div>
    <% } %>
  
</body>
</html>