<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "/css/navigation.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">  
    <link rel="stylesheet" href="/css/roles.css">
    <link rel="stylesheet" href="/css/form-submit.css">
    <title>Home</title>
</head>
<body>
  <%- include ('../partials/navigation.ejs') %>
  <div class="container">
    <div class="header">
        <h1>Faculty</h1>
    </div>
    <div class="body">
        <div class="roles role-columns">
            <div class="column-headers">
                <h3>List of Faculty Members with Role</h3>
            </div>
        <form action="/faculty/activities/remove" method="POST" id="remove-role-form" onsubmit="return confirmRemove();">
            <% if(facultyMembers.length > 0) { %>
            <% facultyMembers.forEach((member, i) => { %>
                <div class="item-container">
                    <div class="name">
                    <% if(userFaculty[i].role !== 'technical-adviser') { %>
                        <p><%= member.firstName + ' ' + member.lastName %></p>
                    <% } %>
                    </div> 
                   <div class="role gray-texts">
                    <% if(userFaculty[i].role !== 'technical-adviser') { %>
                        <% if (userFaculty[i].role == 'course-facilitator') { %>
                            <p><%= userFaculty[i].role.toUpperCase() + ' ' + userFaculty[i].section.toUpperCase() %></p>
                        <% } else if(userFaculty[i].role == 'track-head') { %>
                                <p><%= userFaculty[i].role.toUpperCase() + ' ' + userFaculty[i].track.toUpperCase() %></p>
                        <% } else { %>
                            <p><%= userFaculty[i].role.toUpperCase() %></p>
                        <% } %>
                    <% } %>
                    </div>
                    <% if(userFaculty[i].role !== 'technical-adviser') { %>
                        <div class="remove-button">
                            <button value="<%= userFaculty[i].id %>" name="facultyId" type="submit" class="remove-buttons">Remove</button>
                        </div>
                    <% } %>
                </div>
                <br>
                <% }) %>
            <% } %>
        </form>
        
    </div>
    <div class="members role-columns">
        <div class="column-headers">
        <h3>All Faculty Members</h3>
        </div>
        <% if(faculty.length > 0) { %>
            <% faculty.forEach(member => { %>
                <div class="item-container">
                    <div class="item-columns">
                        <h4>ID: <%= member.employee_id %></h4>
                    </div>
                    <div class="item-columns">
                        <p><%= member.firstName + ' ' + member.lastName %></p>
                    </div>
                </div>
                
                <br>
            <% }) %>
        <% } %>
    </div>
    <div class="assign role-columns">
        <form action="/faculty/activities/roles" method="POST">
            <div class="column-headers">    
                <h3>Assign Roles</h3>
                <p class="gray-texts">(Input faculty id to assign role.)</p>
            </div>
            <div class="column-body">
                <div class="form-control">
                  <h4>Course Department Chair</h4>
                  <input type="text" name="userId" class="input-boxes">
                  <button value="course-department-chair" name="role" type="submit" class="submit-buttons">Submit</button>
                </div>
            <div class="form-control">
                <h4>Course Coordinator</h4>
                <input type="text" name="userId" class="input-boxes">
                <button value="course-coordinator" name="role" type="submit" class="submit-buttons">Submit</button>
            </div>
            <div class="form-control">
                <h4>Course Facilitator</h4>
                <input type="text" name="userId" class="input-boxes">
                <label for="section">Section:</label>
                <select name="section" id="section" class="input-boxes">
                  <option value="isa">IS A</option>
                  <option value="isb">IS B</option>
                </select>
                <button value="course-facilitator" name="role" type="submit" class="submit-buttons">Submit</button>
            </div>
            <div class="form-control">
                <h4>Track Head</h4>
                <input type="text" name="userId" class="input-boxes">
                <label for="section">Track:</label>
                <select name="track" id="section" class="input-boxes">
                  <option value="ba">BA</option>
                  <option value="sm">SM</option>
                </select>
                <button value="track-head" name="role" type="submit" class="submit-buttons">Submit</button>
            </div>
            </div>
                
        </form>
    </div>
    </div>
</div>

<script>
    function confirmRemove() {
      if (confirm("Are you sure you want to remove this faculty member?")) {
        // If the user clicks "OK", return true to submit the form
        return true;
      } else {
        // If the user clicks "Cancel", prevent the form submission
        event.preventDefault();
        return false;
      }
    }
  </script>

</body>
